<div class="banner" style="background-image: url(https://wallpaperaccess.com/full/7180997.jpg)">
  <p><%= @list.name%></p>
</div>




<div class="movie-card">
  <div class="movie-card-info col-6 mt-5">
    <% @list.bookmarks.each do |bookmark| %>
    <div class= "bg-white rounded shadow h-100">
      <%= image_tag bookmark.movie.poster_url %>
      <div class= "p-3 rounded-bottom">
        <h2><%= bookmark.movie.title %></h2>
        <p><%= bookmark.movie.overview %></p>
        <div class= "d-flex justify-content-between">
          <p><i class="fas fa-quote-left me-2"></i><strong><%= bookmark.comment %></p></strong>
          <p>
            <%= link_to "Delete",
              bookmark_path(bookmark),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="text-right">
  <%= link_to "Back", lists_path, class: "btn btn-flat" %>
</div>
