<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1585064788609-b216a8e6613b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
  <p><%= @list.name%></p>
</div>

<%= link_to "Back", lists_path, class: "btn btn-success" %>


<div class="movie-card">
  <div class="movie-card-info">
    <% @list.bookmarks.each do |bookmark| %>
    <%= image_tag bookmark.movie.poster_url%>
    <h2><%= bookmark.movie.title %></h2>
    <p><%= bookmark.movie.overview %></p>
    <p><strong>***<%= bookmark.comment %></p></strong>
  </div>
  <%= link_to "Delete",
    bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

  <% end %>

</div>
